Memoir.egg-info/not-zip-safe
Memoir.egg-info/dependency_links.txt
source_codes/Memoir.egg-info/PKG-INFO
Memoir.egg-info/top_level.txt
Memoir.egg-info/SOURCES.txt
Memoir.egg-info/requires.txt
source_codes/Memoir.egg-info/dependency_links.txt
source_codes/Memoir.egg-info/not-zip-safe
Memoir.egg-info/PKG-INFO
source_codes/Memoir.egg-info/SOURCES.txt
source_codes/Memoir.egg-info/top_level.txt
